<MudDialog>
    <DialogContent>
        <MudText Typo="Typo.h6">@Title</MudText>
        <div class="mt-3">
            @ChildContent
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Text" OnClick="Cancel">@CancelText</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Save">@SaveText</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; } = default!;

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string SaveText { get; set; } = string.Empty;

    [Parameter]
    public string CancelText { get; set; } = string.Empty;

    [Parameter]
    public object? SaveResult { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private void Cancel() => MudDialog.Cancel();

    private void Save() => MudDialog.Close(DialogResult.Ok(SaveResult));
}
